                                                 ****Python Basics Data types****

## **TOPIC: String Based Assignment problem **

---

### 1.write a program to reverse a string.

In [1]:
#step1 : Take input string and assigns in str variable
str = input("enter a string :")

#step2 : Reverse the string by using slicing syntax [start:end:step] and assigns in reverse_string 
reverse_string = str[::-1]

#step3 : Display the reversed string 
print("Reversed of a string :" , reverse_string)

enter a string : computer class

Reversed of a string : ssalc retupmoc

### 2.Check if a string is a palindrome.

In [2]:
sentence = input("Input a string :")
cleaned_string = sentence.lower()
reverse_str = sentence[::-1]
if sentence == reverse_str :
    print("A string is palindrome ")
else :
    print("A string is not palindrome")

Input a string : radar

A string is palindrome

### 3.Convert a string to uppercase.

In [3]:
#step 1 : Take input from user 
input_string = input("enter a string :")

#step2 : Convert string into uppercase by in-built upper() and assign in uppercase_string
uppercase_string = input_string.upper()

#step3 : Display the string convertes into uppercase
print("String is converted into uppercase :",uppercase_string)

enter a string : this is a computer

String is converted into uppercase : THIS IS A COMPUTER

### 4.Convert a string to lowercase.

In [4]:
#step1 : Take input from user
input_string = input("Enter a string :")

#step2 : Convert string into lowercase by in-built lower() and assign in lower_case string
lowercase_string = input_string.lower()

#step3 : Display the string converts into lowercase
print("String is converted into lowercase :",lowercase_string)

Enter a string : seNTENce

String is converted into lowercase : sentence

### 5.Count the number of vowels in a string.

In [5]:
vowels = "mango applE"
vowel_element = "aeiouAEIOU"
vowel_count = 0
for i in vowels:
    if i in vowel_element:
        vowel_count +=1
print("A string :",vowels)
print("The number of vowels (a,e,i,o,u or A,E,I,O,U) in a string :",vowel_count)

A string : mango applE
The number of vowels (a,e,i,o,u or A,E,I,O,U) in a string : 4

### 6.Count the number of consonants in a string.

In [6]:
consonant = "FSDS pro"

consonant_element = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
consonant_count = 0
for i in consonant:
    if i in consonant_element :
        consonant_count +=1
print("A string :",consonant)
print("The number of consonants in a string :", consonant_count)

A string : FSDS pro
The number of consonants in a string : 6

### 7.Remove all whitespaces from a string.

In [7]:
def remove_whitespaces(input_string):
    count = ""
    for char in input_string:
        if char != " ":
            count += char
    return count
    
    
input_string = "what is  a      string ?"
print("Input string :",input_string)
output = remove_whitespaces(input_string)
print("Desired string :",output)

Input string : what is  a      string ?
Desired string : whatisastring?

### 8.Find the length of a string without using the 'len()' function.

In [8]:
input_string = "this is a class"
count_length = 0

for i in input_string:
    count_length +=1
print("A string :",input_string)
print("The length of a string without using the len() function :",count_length)

A string : this is a class
The length of a string without using the len() function : 15

### 9.Check if a string contains a specific word.

In [9]:
input_string = input("enter a string :")
specific_word = input("enter a specific word :")

if specific_word in input_string:
    print("Yes, a string contains a specific word :",specific_word)
else :
    print("No, a string doesn't contain a specific word :",specific_word)

enter a string : this is a machine
enter a specific word : machine

Yes, a string contains a specific word : machine

### 10.Replace a word in a string with another word.

In [10]:
input_string = input("enter a string :")
replace_word = input("enter a word which replaced in a string :")
new_word = input("enter a new word to be replaced by old word :")
result = input_string.replace(replace_word,new_word)
print("Desired string :",result)

enter a string : this is sky
enter a word which replaced in a string : sky
enter a new word to be replaced by old word : blue

Desired string : this is blue

### 11.Count the occurrences of a word in a string.

In [11]:
input_string = "India is my country. All Indians are my sisters and brothers. I love my country and I am proud pf its rich and varied heritage."
print("Input string :",input_string)
target_word = input("Target word to occur in a string :")

occur_count = 0
word_split = input_string.split()
for i in word_split:
    if i == target_word :
        occur_count +=1
print(f"count the occurences of a word", {target_word} ,"in a string :", occur_count ,"times" )

Input string : India is my country. All Indians are my sisters and brothers. I love my country and I am proud pf its rich and varied heritage.

Target word to occur in a string : I

count the occurences of a word {'I'} in a string : 2 times

### 12.Find the first occurence of a word in string.

In [12]:
input_string = "Full stack data science pro is batch of pwskills. This batch has different student profile categories."
print("Input string :",input_string)
first_occur = input("Enter word to choose for first occurence in string :")

index = input_string.find(first_occur)
if index == -1:
    print("No word is found in string")
else :
    print(f"The first occurence of a word '{first_occur}' in string at index :",index)

Input string : Full stack data science pro is batch of pwskills. This batch has different student profile categories.

Enter word to choose for first occurence in string : batch

The first occurence of a word 'batch' in string at index : 31

### 13.Find the last occurence of a word in a string.

In [13]:
input_string = "This is a question regarding the last occurrence. The answer of this question is very easy."
print("Input string :",input_string)
last_occur = "question"
print("The word in a string to find the last occurrence :",last_occur)
index = input_string.rfind(last_occur)
if index == -1 :
    print("No word is found in string")
else :
    print(f"The last occurrence of a word '{last_occur}' in string :",index)

Input string : This is a question regarding the last occurrence. The answer of this question is very easy.
The word in a string to find the last occurrence : question
The last occurrence of a word 'question' in string : 69

### 14.Split a string into a list of words.

In [14]:
input_string = "pwskills course"
result = input_string.split()
print("A string :",input_string)
print("split a string into a list of words :",result)

A string : pwskills course
split a string into a list of words : ['pwskills', 'course']

### 15.Join a list of words into a string.

In [15]:
input_string = ["this","is","a" ,"class"]
print("Input string :",input_string)
join_list =" ".join(input_string)
print("join a list of words into a string :",join_list)

Input string : ['this', 'is', 'a', 'class']
join a list of words into a string : this is a class

### 16.Convert a string where words are separated by spaces to one where words are separated by underscores.

In [16]:
string = "this is a electronic machine"
print("String :",string)
new_string = string.replace(" ","_")
print("convert a string where words are separated by spaces to one where words are separated by underscores :",new_string)

String : this is a electronic machine
convert a string where words are separated by spaces to one where words are separated by underscores : this_is_a_electronic_machine

### 17.Check if a string starts with a specific word or phrase.

In [17]:
def specific_word(string,specific):
    if specific in string[0::]:
        print("yes, a string starts with a specific word or phrase")
    else :
        print("no , a string doesn't start with a specific word or phrase")

input_string = "this is company"
specific = "this"
print("A string :",input_string)
print("A string starts with a specific word or phase :",specific)
specific_word(input_string,specific)

A string : this is company
A string starts with a specific word or phase : this
yes, a string starts with a specific word or phrase

### 18.Check if a string ends with a specific word or phrase.

In [18]:
def specific_word(input_string, specific_end_word):
    end = input_string.endswith(specific_end_word)
    return end

input_string = "this is mnc company"
specific_end_word = "company"
print("A string :",input_string)
print("A specific end word :",specific_end_word)
check_func = specific_word(input_string, specific_end_word)
print("Check if a string ends with specific word or phrase")
if check_func:
    print(f"Yes, a string end with a specific word or phrase '{specific_end_word}'")
else :
    print(f"No, a string doesn't end with a specific word or phrase '{specific_end_word}'")

A string : this is mnc company
A specific end word : company
Check if a string ends with specific word or phrase
Yes, a string end with a specific word or phrase 'company'

### 19.Convert a string to title case(e.g., "hello world" to "Hello World").

In [19]:
string = input("Enter a string :")
title_case = string.title()
print("Convert a string to title case :",title_case)

Enter a string : hello world

Convert a string to title case : Hello World

### 20.Find the longest word in a string.

In [20]:
from functools import reduce

def longest_word_func(input_string):
    word_split = input_string.split()
    return reduce( lambda x,y : x if len(x) > len(y) else y , word_split)

input_string = "Always positive and confident in every situation"
print("Input string :",input_string)
longest = longest_word_func(input_string)
if longest :
    print("The longest word in a string :",longest)

Input string : Always positive and confident in every situation
The longest word in a string : situation

### 21.Find the shortest word in a string.

In [21]:
from functools import reduce 

def shortest_word_func(input_string):
    word_split = input_string.split()
    return reduce(lambda x,y : x if len(x) < len(y) else y , word_split)

input_string = "Always positive and confident in every situation"
print("Input string :",input_string)
shortest = shortest_word_func(input_string)
if shortest :
    print("The shortest word in a string :",shortest)

Input string : Always positive and confident in every situation
The shortest word in a string : in

### 22.Reverse the order of words in a string.

In [22]:
def reverse_order(text):
    new_text = text[::-1]
    return new_text

text = ["machine","washing","is","this"]
reverse_list = reverse_order(text)
print("A string :",text)
print("Reverse the order of words in a string :",reverse_list)

A string : ['machine', 'washing', 'is', 'this']
Reverse the order of words in a string : ['this', 'is', 'washing', 'machine']

### 23.Check if a string is alphanumeric.

In [23]:
def alphanumeric_string(text):
    return text.isalnum()   

text = "morning12345"
print("A string :",text)
a_string = alphanumeric_string(text)

if a_string:
    print("Yes, this string is alphanumeric")
else :
    print("no, this string is not alphanumeric")

A string : morning12345
Yes, this string is alphanumeric

### 24.Extract all digits from a string.

In [24]:
input_string = "the456work341is2good"
digit_count = ""
for i in input_string:
    if i.isdigit():
        digit_count +=i
print("A string :",input_string)
print("Extract all digits from a string :", digit_count)

A string : the456work341is2good
Extract all digits from a string : 4563412

### 25.Extract all alphabets from a string.

In [25]:
def extract_alphabet(input_string):
    print("this is present alphabet in result",input_string)
    alphabet_string = ''.join([char for char in input_string if char.isalpha()])
    return alphabet_string


input_string = "python123is245highlevel7language"
output = extract_alphabet(input_string)
print("Extract all alphabet from a string :",output)

this is present alphabet in result python123is245highlevel7language
Extract all alphabet from a string : pythonishighlevellanguage

### 26.Count the number of uppercase letters in a string.

In [26]:
def uppercase_letter(input_string):
    print("input_string :",input_string)
    letter = sum(1 for char in input_string if char.isupper())
    return letter

input_string = "THIS is Uppercase 123 SentEnce"
uppercase = uppercase_letter(input_string)
print("count the number of uppercase letters in a string :",uppercase)

input_string : THIS is Uppercase 123 SentEnce
count the number of uppercase letters in a string : 7

### 27.Count the numberof lowercase letters in a string.

In [27]:
def lowercase_letter(input_string):
    print("example string :",input_string)
    letter = sum(1 for char in input_string if char.islower())
    return letter

input_string = "LOwercase APLHAbet"
lowercase = lowercase_letter(input_string)
print("Count the number of lowercase letters in a string :",lowercase)

example string : LOwercase APLHAbet
Count the number of lowercase letters in a string : 10

### 28.Swap the case of each character in a string.

In [28]:
input_string = "PhyTHon cOUrse"
swap_case = input_string.swapcase()
print("Example string which is to be swapped of each character :",input_string)
print("Swap the case of each character in a string :",swap_case)

Example string which is to be swapped of each character : PhyTHon cOUrse
Swap the case of each character in a string : pHYthON CouRSE

### 29.Remove a specific word from a string.

In [30]:
def remove_word_function(input_string, choose_word):
    word_split = input_string.split()
    filter_word = [word for word in word_split if word != choose_word]
    result_string = ' '.join(filter_word)
    return result_string


input_string = "Python program to remove a specific word from a string"
print("Input string :",input_string)
choose_word = input("Choose a word to remove :")
output = remove_word_function(input_string, choose_word)
print(f"Remove a specific word '{choose_word}' from a string :",output)

Input string : Python program to remove a specific word from a string

Choose a word to remove : a

Remove a specific word 'a' from a string : Python program to remove specific word from string

### 30.Check if a string is a valid email address.

In [32]:
import re   

def check_email_func(email):
    pattern_form = r'^[\w\.-]+@[\w\.-]+\.\w+$'               #Regular expression pattern for a basic email validation
    if re.match(pattern_form, email) :
        return True
    else : 
        return False

email_1 = "gov@google.com"
email_2 = "invalid-gmail.com"
print("Email 1 address  :",email_1)
print("Email 2 address  :",email_2)
print("Check if a string is a valid email address")
output1 = check_email_func(email_1)
output2 = check_email_func(email_2)
print(f"Email 1 address {email_1} is {output1}")
print(f"Email 2 address {email_2} is {output2}")

Email 1 address  : gov@google.com
Email 2 address  : invalid-gmail.com
Check if a string is a valid email address
Email 1 address gov@google.com is True
Email 2 address invalid-gmail.com is False

### 31.Extract the username from an email address string.

In [47]:
input_string = "sidharth@gmail.com"
print("Example of email address string :",input_string)
username = input_string.split('@')[0]
print("Extract the username from an email address string :",username)

Example of email address string : sidharth@gmail.com
Extract the username from an email address string : sidharth

### 32.Extract the domain name from an email address string.

In [33]:
input_string = "sohan@yahoo.com"
domain_name = input_string.split('@')[1]
print("Example of email address string :",input_string)
print("Extract the domain name from an email address string :",domain_name)

Example of email address string : sohan@yahoo.com
Extract the domain name from an email address string : yahoo.com

### 33.Replace mulitple spaces in a string with a single space.

In [34]:
input_string = "i am   reading   this english    book "
single_space = ' '.join(input_string.split())
print("Example of mulitple spaces in a string :",input_string)
print("Replace multiple spaces in a string with a single space :",single_space)

Example of mulitple spaces in a string : i am   reading   this english    book
Replace multiple spaces in a string with a single space : i am reading this english book

### 34.Check if a string is a valid URL.

In [35]:
def valid_url_func(url):
    x = url.split()
    l = []
    for i in x :
        if i.find("https:")==0 or i.find("http:")==0 :
            l.append(i)
    return l

url_1 = "http://www.google.com"
url_2 = "This is the url of www.invalidurl.com"
print("Example 1 of url1 :",url_1)
print("Example 2 of url2 :",url_2)

print("Check if a string is a valid url ")
check_url_1 = valid_url_func(url_1)
if check_url_1 :
    print("Yes, This is valid url1 :",check_url_1)
else :
    print("No, This is invalid url1 :",check_url_1)

    
check_url_2 = valid_url_func(url_2)

if check_url_2 :
    print("Yes, This is valid url2:",check_url_2)
else :
    print("No, This is invalid url2 :",check_url_2)

Example 1 of url1 : http://www.google.com
Example 2 of url2 : This is the url of www.invalidurl.com
Check if a string is a valid url
Yes, This is valid url1 : ['http://www.google.com']
No, This is invalid url2 : []

### 35.Extract the protocol (http or https) from a URL string.

In [36]:
def extract_protocol_func(url):
    protocol_end = url.find("://")
    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else :
        return None
    
url_1 = "https://google.com"
url_2 = "https://upsc.gov.in"
url_3 = "ftp://ftp.protocol.com"
url_4 = "https://w3school.in"
url_5 = "smtp://smtp.protocol.com"

print("1. url 1 string:",url_1)
print("2. url 2 string:",url_2)
print("3. url 3 string:",url_3)
print("4. url 4 string:",url_4)
print("5. url 5 string:",url_5)
print("Extract protocol (http ,smtp ,ftp or https etc) from a url string ")
protocol_1 = extract_protocol_func(url_1)
protocol_2 = extract_protocol_func(url_2)
protocol_3 = extract_protocol_func(url_3)
protocol_4 = extract_protocol_func(url_4)
protocol_5 = extract_protocol_func(url_5)

print("Protocol 1 :", protocol_1)
print("Protocol 2 :", protocol_2)
print("Protocol 3 :", protocol_3)
print("Protocol 4 :", protocol_4)
print("Protocol 5 :", protocol_5)

1. url 1 string: https://google.com
2. url 2 string: https://upsc.gov.in
3. url 3 string: ftp://ftp.protocol.com
4. url 4 string: https://w3school.in
5. url 5 string: smtp://smtp.protocol.com
Extract protocol (http ,smtp ,ftp or https etc) from a url string
Protocol 1 : https
Protocol 2 : https
Protocol 3 : ftp
Protocol 4 : https
Protocol 5 : smtp

### 36.Find the frequency of each character in a string.

In [37]:
def frequency_character_func(input_string):
    freq = {}
    for char in input_string :
        if char in freq :
            freq[char] +=1
        else :
            freq[char] = 1
    return freq
            
input_string =  "Nice way to solve "
print("Input string :",input_string)
print("The frequency of each character in a string ")
freq_char = frequency_character_func(input_string)
for char,freq in freq_char.items():
    print(f"character :'{char}'  ,  Frequency : {freq}")

Input string : Nice way to solve
The frequency of each character in a string
character :'N'  ,  Frequency : 1
character :'i'  ,  Frequency : 1
character :'c'  ,  Frequency : 1
character :'e'  ,  Frequency : 2
character :' '  ,  Frequency : 4
character :'w'  ,  Frequency : 1
character :'a'  ,  Frequency : 1
character :'y'  ,  Frequency : 1
character :'t'  ,  Frequency : 1
character :'o'  ,  Frequency : 2
character :'s'  ,  Frequency : 1
character :'l'  ,  Frequency : 1
character :'v'  ,  Frequency : 1

### 37.Remove all punctuation from a string.

In [38]:
import string
input_string = "Good morning everyone, How are you?"
print("Input string :",input_string)
translator = str.maketrans("","",string.punctuation)
clean_string = input_string.translate(translator)
print("Remove all punctuation from a string :",clean_string)

Input string : Good morning everyone, How are you?
Remove all punctuation from a string : Good morning everyone How are you

### 38.Check if a string contains only digits.

In [39]:
def digit_func(input_string):
    return input_string.isdigit()

string_1 = "1001"
string_2 = "digit0123456789"
string_3 = "123.8890"
string_4 = "contain25673DIGIT"

print("String 1 :",string_1)
print("String 2 :",string_2)
print("String 3 :",string_3)
print("String 4 :",string_4)
only_digit_1 = digit_func(string_1)
only_digit_2 = digit_func(string_2)
only_digit_3 = digit_func(string_3)
only_digit_4 = digit_func(string_4)

print("Check if a string contains only digit ")
print(f"1. '{string_1}' contains only digit :",only_digit_1)
print(f"2. '{string_2}' contains only digit :",only_digit_2)
print(f"3. '{string_3}' conatins only digit :",only_digit_3)
print(f"4. '{string_4}' contains only digit :",only_digit_4)

String 1 : 1001
String 2 : digit0123456789
String 3 : 123.8890
String 4 : contain25673DIGIT
Check if a string contains only digit
1. '1001' contains only digit : True
2. 'digit0123456789' contains only digit : False
3. '123.8890' conatins only digit : False
4. 'contain25673DIGIT' contains only digit : False

### 39.Check if a string contains only alphabets.

In [40]:
def alphabet_func(string):
    return string.isalpha()

str_in_1 = "alphabet576"
str_in_2 = "good"
str_in_3 = "464string78789"
str_in_4 = "1787.0978"
print("String 1 :",str_in_1)
print("String 2 :",str_in_2)
print("String 3 :",str_in_3)
print("String 4 :",str_in_4)
print("Check if a string contains only alphabets")

contain_alpha_1 = alphabet_func(str_in_1)
contain_alpha_2 = alphabet_func(str_in_2)
contain_alpha_3 = alphabet_func(str_in_3)
contain_alpha_4 = alphabet_func(str_in_4)
print(f"1. '{str_in_1}' contains only alphabets :",contain_alpha_1)
print(f"2. '{str_in_2}' contains only alphabets :",contain_alpha_2)
print(f"3. '{str_in_3}' contains only alphabets :",contain_alpha_3)
print(f"4. '{str_in_4}' contains only alphabets :",contain_alpha_4)

String 1 : alphabet576
String 2 : good
String 3 : 464string78789
String 4 : 1787.0978
Check if a string contains only alphabets
1. 'alphabet576' contains only alphabets : False
2. 'good' contains only alphabets : True
3. '464string78789' contains only alphabets : False
4. '1787.0978' contains only alphabets : False

### 40.Convert a string to a list of characters.

In [44]:
input_string = "Nice work"
print("Input string :",input_string)
str_list = list(input_string)
print("Convert a string to a list of characters :",str_list)

Input string : Nice work
Convert a string to a list of characters : ['N', 'i', 'c', 'e', ' ', 'w', 'o', 'r', 'k']

### 41.Check if two strings are anagrams.

In [41]:
def str_func(string1, string2):
    str1 = string1.replace(" ","").lower()
    str2 = string2.replace(" ","").lower()
    return sorted(str1) == sorted(str2)

str_1 = "abcd"
str_2 = "bcad"
str_3 = "python"
str_4 = "language"
print("String 1 :",str_1)
print("String 2 :",str_2)
print("String 3 :",str_3)
print("String 4 :",str_4)
print("check if two strings are anagrams")
check_1 = str_func(str_1, str_2)
check_2 = str_func(str_3, str_4)
print(f" Q1 Are '{str_1}' and '{str_2}' are anagrams?  ", "Answer :" ,check_1)
print(f" Q2 Are '{str_3}' and '{str_4}' are anagrams?  ", "Answer :" ,check_2)

String 1 : abcd
String 2 : bcad
String 3 : python
String 4 : language
check if two strings are anagrams
 Q1 Are 'abcd' and 'bcad' are anagrams?   Answer : True
 Q2 Are 'python' and 'language' are anagrams?   Answer : False

### 42.Encode a string using a caesar cipher.

In [42]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher_func(text_input, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text_input:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text_input = "hello, world. 0123456789 is digits in maths."
print("Example of input text :",text_input)
shift = 3
print("Shift of character at position :",shift)
print("Encode a casear cipher by using the function ")

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher_func(text_input, shift)

# Print the encoded text.
print("Encoded text :", encoded_text)

Example of input text : hello, world. 0123456789 is digits in maths.
Shift of character at position : 3
Encode a casear cipher by using the function
Encoded text : khoor, zruog. 0123456789 lv gljlwv lq pdwkv.

### 43.Decode a Caesar cipher encoded string.

In [43]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder_func(example_text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in example_text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
example_text = "khoor, zruog. 0123456789 lv gljlwv lq pdwkv."
print("Example of input text :",example_text)
shift = 3
print("Shift character at 3 position :",shift)
print("Decode a caesar cipher by using function ")
# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder_func(example_text, shift)

# Print the decoded text
print("Decoded text :", decoded_text)

Example of input text : khoor, zruog. 0123456789 lv gljlwv lq pdwkv.
Shift character at 3 position : 3
Decode a caesar cipher by using function
Decoded text : hello, world. 0123456789 is digits in maths.

### 44.Find the most frequent word in a string.

In [45]:
import re
from collections import Counter

def most_frequent_word(input_string):
   
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = clean_string.split()   
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word


input_string = "This is python program. A python is high level language. A python easy to understand."
print("String :",input_string)
print("Most frequent word in a string :",most_frequent_word(input_string))

String : This is python program. A python is high level language. A python easy to understand.
Most frequent word in a string : python

### 45.Find all unique words in a string.

In [46]:
import re
from collections import Counter

def All_unique_word(input_string):
   
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    unique_word = set(clean_string.split())   
    return unique_word


input_string = "This is python program. A python is high level language. A python easy to understand."
print("String :",input_string)
print("All unique words in a string :",All_unique_word(input_string))

String : This is python program. A python is high level language. A python easy to understand.
All unique words in a string : {'is', 'python', 'high', 'program', 'language', 'easy', 'to', 'a', 'understand', 'this', 'level'}

### 46.Count the number of syllables in a string.

In [47]:
import re

def count_syllable_func(word):
    vowel_group = re.findall(r'[aeiouy]+', word, re.IGNORECASE)
    return len(vowel_group)

string_1 = "python"
string_2 = "practice"
string_3 = "daily"
print("String 1 :",string_1)
print("String 2 :",string_2)
print("String 3 :",string_3)
print("Count the number of syllables in a string")
syllables1 = count_syllable_func(string_1)
syllables2 = count_syllable_func(string_2)
syllables3 = count_syllable_func(string_3)

print(f"String 1  : '{string_1}' has '{syllables1}' syllables in a string.")
print(f"String 2  : '{string_2}' has '{syllables2}' syllables in a string.")
print(f"String 3  : '{string_3}' has '{syllables3}' syllables in a string.")

String 1 : python
String 2 : practice
String 3 : daily
Count the number of syllables in a string
String 1  : 'python' has '2' syllables in a string.
String 2  : 'practice' has '3' syllables in a string.
String 3  : 'daily' has '2' syllables in a string.

### 47.Check if a string contains any special characters.

In [48]:
import re

def contains_special_characters_func(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)


str1 = "How are you?"
str2 = "Python language is easy to understand."
str3 = "Special Characters"
print("String 1 :",str1)
print("String 2 :",str2)
print("String 3 :",str3)
print("Check if a string contains any special characters.")
print(f"String 1  : '{str1}' contains special characters:", contains_special_characters_func(str1))
print(f"String 2  : '{str2}' contains special characters:", contains_special_characters_func(str2))
print(f"String 3  : '{str3}' contains special characters:", contains_special_characters_func(str3))

String 1 : How are you?
String 2 : Python language is easy to understand.
String 3 : Special Characters
Check if a string contains any special characters.
String 1  : 'How are you?' contains special characters: True
String 2  : 'Python language is easy to understand.' contains special characters: True
String 3  : 'Special Characters' contains special characters: False

### 48.Remove the nth word from a string.

In [49]:
def remove_nth_word(input_string, n):
    word = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(word):
        # Remove the nth word by excluding it from the words list
        removed_word = word.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(word)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_string = "This is an example of good person."
print("Example String :",input_string)
nth_value = 3

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_string, nth_value)

if modified_str is not None:
    print("Removed word from a string :", removed_word)
    print("Modified string :", modified_str)
else:
    print("Invalid n value.")

Example String : This is an example of good person.
Removed word from a string : an
Modified string : This is example of good person.

### 49.Insert a word at the nth position in a string.

In [60]:
def insert_word_func(input_string, add_element, index):
    word = list(input_string.split())
    print("word in list :",word)
    lis = []
    for st_idx in range(0, len(word), index):
        lis.extend(word[st_idx:st_idx+index])
        lis.append(add_element)
        lis.pop()  
        x=" ".join(p for p in lis)
    return x


input_string = "This is a boy."
print("Example string :",input_string)
add_element = "good"
index = 3
print(f"Add element in string at index '{index}rd' :",add_element)

function = insert_word_func (input_string,add_element,index)
print(f"Insert word '{add_element}' at the index '{index}rd' position in a string :",function)

Example string : This is a boy.
Add element in string at index '3rd' : good
word in list : ['This', 'is', 'a', 'boy.']
Insert word 'good' at the index '3rd' position in a string : This is a boy.

### 50.Convert a CSV string to a list of lists.

In [61]:
def csv_string_to_list(csv_str):
    # Split the CSV string into lines
    lines = csv_str.split('\n')
    l = []
    for line in lines:
        # Split each line into fields using comma as the delimiter
        field = line.split(',')
        l.append(field)
    return l

csv_data = " S.No. Name, Age, Country\n 1. Komal, 30, India\n 2. Sonali, 25, USA\n 3. Hilton, 22, Dubai"
print("CSV data string :",csv_data)
print("Convert a CSV string to a list of lists")
# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

CSV data string :  S.No. Name, Age, Country
 1. Komal, 30, India
 2. Sonali, 25, USA
 3. Hilton, 22, Dubai
Convert a CSV string to a list of lists
[' S.No. Name', ' Age', ' Country']
[' 1. Komal', ' 30', ' India']
[' 2. Sonali', ' 25', ' USA']
[' 3. Hilton', ' 22', ' Dubai']

## **List Based Practice Problem :**
---

### 1.Create a list with integers from 1 to 10.

In [62]:
integers = [i for i in range(1,11)]
print("A list with integers from 1 to 10 :",integers)

A list with integers from 1 to 10 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2.Find the length of a list without using the 'len()' function.

In [63]:
def list_len(input_list):
    count = 0
    for i in input_list:
        count +=1
    return count
my_list = [10,20,30,"p",40,50,60]
length = list_len(my_list)
print("A list :",my_list)
print("length of a list without using the len() :",length)

A list : [10, 20, 30, 'p', 40, 50, 60]
length of a list without using the len() : 7

### 3.Append an element to the end of a list.

In [64]:
example_list = [10,12,15,17,22]
new_element = 25
print("Example list :",example_list)
print("New element :",new_element)
example_list.append(new_element)
print("Append an element to the end of a list :", example_list)

Example list : [10, 12, 15, 17, 22]
New element : 25
Append an element to the end of a list : [10, 12, 15, 17, 22, 25]

### 4.Insert an element at a specific index in a list.

In [65]:
example_list = [10,15,20,30,35,40]
new_element = 25
index_to_insert = 3
print("Example list :",example_list)
print("New element :",new_element)
print("Insert an element at a index of :",index_to_insert)
example_list.insert(index_to_insert,new_element)
print("Insert an element at a specific index in a list :",example_list)

Example list : [10, 15, 20, 30, 35, 40]
New element : 25
Insert an element at a index of : 3
Insert an element at a specific index in a list : [10, 15, 20, 25, 30, 35, 40]

### 5.Remove an element from a list by its value.

In [66]:
example_list = [1,2,3,4,5,6,7]
remove_element = 4
print("Example list :",example_list)
print("Remove an element in a list :",remove_element)
example_list.remove(remove_element)
print("Remove an element from a list by its value :",example_list)

Example list : [1, 2, 3, 4, 5, 6, 7]
Remove an element in a list : 4
Remove an element from a list by its value : [1, 2, 3, 5, 6, 7]

### 6.Remove an element from a list by its index.

In [67]:
example_list = [22,35,56,78,99,100]
remove_from_index = 2
print("Example list :",example_list)
print("Remove an element from index :",remove_from_index)
remove_element = example_list.pop(remove_from_index)
print("Remove an element from a list by its index :",example_list)
print("Remove element :",remove_element)

Example list : [22, 35, 56, 78, 99, 100]
Remove an element from index : 2
Remove an element from a list by its index : [22, 35, 78, 99, 100]
Remove element : 56

### 7.Check if an element exists in a list.

In [68]:
example_list = [10,11,12,13,14,15,16]
element_exist = 14
print("Example list :",example_list)
print("Check if an element exist in a list :",element_exist)
if element_exist in example_list:
    print(f"Yes, element exists in a list  in {element_exist}")
else :
    print(f"No, element is not exist in a list in {element_exist}")

Example list : [10, 11, 12, 13, 14, 15, 16]
Check if an element exist in a list : 14
Yes, element exists in a list  in 14

### 8.Find the index of the first occurrence of an element in a list.

In [69]:
example_list = [2,3,4,5,6]
first_occur = 4
print("Example list :",example_list)
print("First occurrence of an element in a list :",first_occur)
list_index = example_list.index(first_occur)
print(f"The index of the first occurence {first_occur} of an element in a list is {list_index} ")

Example list : [2, 3, 4, 5, 6]
First occurrence of an element in a list : 4
The index of the first occurence 4 of an element in a list is 2

### 9.Count the occurrences of an element in a list.

In [70]:
example_list = [1,3,3,2,3,4,5,3]
count_occur = 3
print("Example list :",example_list)
count_element = example_list.count(count_occur)
print(f"Count the occurence {count_occur} of an element in a list is {count_element} times ")

Example list : [1, 3, 3, 2, 3, 4, 5, 3]
Count the occurence 3 of an element in a list is 4 times

### 10.Reverse the order of elements in a list.

In [71]:
input_string = ["important","is","skills"]
reverse_order = input_string[::-1]
print("Example list :",input_string)
print("Reverse the order of elements in a list :",reverse_order)

Example list : ['important', 'is', 'skills']
Reverse the order of elements in a list : ['skills', 'is', 'important']

### 11.Sort a list in ascending order.

In [72]:
example_list = [31,23,56,78,21,70]
print("Example list :",example_list)
example_list.sort()
print("sort a list in ascending order is ",example_list)

Example list : [31, 23, 56, 78, 21, 70]
sort a list in ascending order is  [21, 23, 31, 56, 70, 78]

### 12.Sort a list in descending order.

In [73]:
example_list = [89,23,11,45,67]
example_list.sort(reverse = True)
print("sort a list in descending order is ", example_list)

sort a list in descending order is  [89, 67, 45, 23, 11]

### 13.Create a list of even numbers from 1 to 20.

In [74]:
even_numbers = [i for i in range(1,21) if i%2 == 0]
print("A list of even numbers from 1 to 20 :",even_numbers)

A list of even numbers from 1 to 20 : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14.Create a list of odd numbers from 1 to 20.

In [75]:
odd_numbers = [i for i in range(1,21) if i%2 !=0]
print("A list of odd numbers from 1 to 20 :",odd_numbers)

A list of odd numbers from 1 to 20 : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15.Find the sum of all elements in a list.

In [76]:
example_list = [10,20,30,40]
print("Example list :",example_list)
sum_all = sum(example_list)
print("The sum of all elements in a list is ",sum_all)

Example list : [10, 20, 30, 40]
The sum of all elements in a list is  100

### 16.Find the maximum value in a list.

In [77]:
example_list = [10,23,11,56,99,2222]
print("Example list :",example_list)
max_value = max(example_list)
print("The maximum value in a list is ",max_value)

Example list : [10, 23, 11, 56, 99, 2222]
The maximum value in a list is  2222

### 17.Find the minimum value in a list.

In [78]:
example_list = [101,23,1,5,34,0]
print("Example list :",example_list)
min_value = min(example_list)
print("The minimum value in a list is ",min_value)

Example list : [101, 23, 1, 5, 34, 0]
The minimum value in a list is  0

### 18.Create a list of squares of numbers from 1 to 10.

In [79]:
square = [i **2 for i in range(1,11)]
print("A list of numbers of 1 to 10 :",list(range(1,11)))
print("A list of of squares of numbers of 1 to 10 :",square)

A list of numbers of 1 to 10 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
A list of of squares of numbers of 1 to 10 : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19.Create a list of random numbers.

In [80]:
import random

random_list = [random.randint(1,1000) for _ in range(20)]
print("A list of random numbers  :",random_list)

A list of random numbers  : [199, 551, 165, 87, 54, 339, 380, 539, 185, 396, 442, 608, 369, 475, 659, 278, 570, 509, 126, 881]

### 20.Remove duplicates from a list.

In [81]:
example_list = [12,23,45,45,89,90,76,89]
print("Example list :",example_list)
remove_dup = list(set(example_list))
print("Remove duplicates from a list :",remove_dup)

Example list : [12, 23, 45, 45, 89, 90, 76, 89]
Remove duplicates from a list : [12, 45, 76, 23, 89, 90]

### 21.Find the common elements between two lists.

In [83]:
l1 = [1,2,3,4,5]
l2 = [2,4,5,6,7]
print("List 1 :",l1)
print("List 2 :",l2)
l3 = []
for common_element in l1:
    if common_element in l2:
        l3.append(common_element)
print("The common elements between two lists :",l3)

List 1 : [1, 2, 3, 4, 5]
List 2 : [2, 4, 5, 6, 7]
The common elements between two lists : [2, 4, 5]

### 22.Find the difference between two lists.

In [84]:
l1 = [11,22,33,44,55]
print("List 1 :",l1)
l2 = [66,77,33,88,11,22]
print("List 2 :",l2)
difference_list = list(set(l1).difference(l2))
print("The difference between two lists :",difference_list)

List 1 : [11, 22, 33, 44, 55]
List 2 : [66, 77, 33, 88, 11, 22]
The difference between two lists : [55, 44]

### 23.Merge two lists.

In [85]:
l1 = [10,11,14,15]
l2 = [12,13,16]
print("List 1 :",l1)
print("List 2 :",l2)
l3 = l1 + l2
print("Merge two lists ",l3)

List 1 : [10, 11, 14, 15]
List 2 : [12, 13, 16]
Merge two lists  [10, 11, 14, 15, 12, 13, 16]

### 24.Multiply all elements in a list by 2.

In [86]:
example_list = [4,5,6,7,8]
print("Example list :",example_list)
l =[]
for i in example_list:
    i =i*2
    l.append(i)
print("Multipy all element in a list by 2 :",l)

Example list : [4, 5, 6, 7, 8]
Multipy all element in a list by 2 : [8, 10, 12, 14, 16]

### 25.Filter out all even numbers from a list.

In [87]:
example_list = [11,20,24,43,67,80]
print("Example list :",example_list)
odd_list = []
for i in example_list:
    if i%2 != 0:
        odd_list.append(i)
print("Filter out all even numbers from a list that is odd numbers :",odd_list)

Example list : [11, 20, 24, 43, 67, 80]
Filter out all even numbers from a list that is odd numbers : [11, 43, 67]

### 26.Convert a list of strings to a list of integers.

In [88]:
example_list = ["12","13","14","15","16"]
print("Example of list of strings :",example_list)
integer = []
for i in example_list:
    convert_int= int(i)
    integer.append(convert_int)
print("Convert a list of strings to a list of integers :",integer)

Example of list of strings : ['12', '13', '14', '15', '16']
Convert a list of strings to a list of integers : [12, 13, 14, 15, 16]

### 27.Convert a list of integers to a list of strings.

In [1]:
example_list = [1,2,3,4,5]
print("Example a List of integers :",example_list)
string = []
for p in example_list:
    convert_string = str(p)
    string.append(convert_string)
print("Convert a list of integers to a list of strings :",string)

Example a List of integers : [1, 2, 3, 4, 5]
Convert a list of integers to a list of strings : ['1', '2', '3', '4', '5']

### 28.Flatten a nested list.

In [99]:
l = [12,3,[1,2],[3,4]]
print("Example a nested list :",l)
print("Flatten a nested list :")
[j for i in l for j in (i if type(i)== list else [i])]

Example a nested list : [12, 3, [1, 2], [3, 4]]
Flatten a nested list :

[12, 3, 1, 2, 3, 4]

### 29.Create a list of the first 10 Fibonacci numbers.

In [100]:
def fibonacci_nums_func(n):
    if n <= 0:
        return [0]
    sequence = [0, 1]
    while len(sequence) <= n:
        next_value = sequence[len(sequence) - 1] + sequence[len(sequence) - 2]
        sequence.append(next_value)
    return sequence

print("Create a list of first 10 Fibonacci numbers :" ,fibonacci_nums_func(10))

Create a list of first 10 Fibonacci numbers : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### 30.Check if a list is sorted.

In [101]:
# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True


ascending_list = [3,4,5,6,7]
print("Example of Ascending list :",ascending_list)

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

Example of Ascending list : [3, 4, 5, 6, 7]
The list is sorted in ascending order.

### 31.Rotate a list to the left by 'n' positions.

In [102]:
def rotate_fun(l,n):
    return list((l[n:])) + l[:n]

example_list = [10,20,30,40,50]
print("orginal list :",example_list)

rotated_list = rotate_fun(example_list,2)
print(f"Rotate a list to the left by 2 position is {rotated_list} ")

orginal list : [10, 20, 30, 40, 50]
Rotate a list to the left by 2 position is [30, 40, 50, 10, 20]

### 32.Rotate a list to the right by 'n' positions.

In [103]:
def rotate_fun(l,n):
    return list((l[-n:])) + l[:-n]

example_list = [11,22,33,44,55,66]
print("original list :",example_list)

rotated_right = rotate_fun(example_list,3)
print(f"Rotate a list to the right by 3 position is {rotated_right} ")

original list : [11, 22, 33, 44, 55, 66]
Rotate a list to the right by 3 position is [44, 55, 66, 11, 22, 33]

### 33.Create a list of prime numbers up to 50.

In [105]:
# Function to check if a number is prime
def is_prime_func(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 50 prime numbers
prime_numbers_list = [num for num in range(2,50) if is_prime_func(num)]

# Print the tuple of prime numbers
print("Create a list of prime numbers up to 50 :", prime_numbers_list)

Create a list of prime numbers up to 50 : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34.Split a list into chunks of size 'n'.

In [106]:
example_list = [1,2,3,4,5,6,7,8,9]
print("Example list :",example_list)
n = 3 
start = 0
end = len(example_list)
step = 3
for i in range(start,end,step) :
    x = i
    print(f"Split a list into chunk of size '{n}' :",example_list[x:x+step])

Example list : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Split a list into chunk of size '3' : [1, 2, 3]
Split a list into chunk of size '3' : [4, 5, 6]
Split a list into chunk of size '3' : [7, 8, 9]

### 35.Find the second largest number in a list.

In [107]:
example_list = [10,34,22,67,78,89,56]
print("Example list :",example_list)
sort_list = list(sorted(example_list))
print("The second largest number in a list :",sort_list[-2])

Example list : [10, 34, 22, 67, 78, 89, 56]
The second largest number in a list : 78

### 36.Replace every element in a list with its square.

In [108]:
example_list = [1,2,3,4,5]
square = [x ** 2 for x in example_list]
print("Example list :",example_list)
print("Replace every element in a list with its square :",square)

Example list : [1, 2, 3, 4, 5]
Replace every element in a list with its square : [1, 4, 9, 16, 25]

### 37.Convert a list to a dictionary where list elements become keys and their indices become values.

In [109]:
example_list = ['python','dsa','java','data science']
print("Example list :",example_list)
dic = {element : index for index,element in enumerate(example_list)}
print("Convert a list to a dictionary where list elements become keys and their indices become values ")
print(dic)

Example list : ['python', 'dsa', 'java', 'data science']
Convert a list to a dictionary where list elements become keys and their indices become values
{'python': 0, 'dsa': 1, 'java': 2, 'data science': 3}

### 38.Shuffle the elements of a list randomly.

In [110]:
import random
example_list = [10,12,3,45,17,89]
random.shuffle(example_list)
print("Shuffle the elements of a list randomly",example_list)

Shuffle the elements of a list randomly [17, 3, 10, 12, 45, 89]

### 39.Create a list of the first 10 factorial numbers.

In [111]:
def fact(number):
    if number == 0 or number == 1:
        return 1
    else :
        return number*fact(number-1)

fact_number = [fact(i) for i in range(0,11)]
print("A list of the first 10 numbers :",list(range(0,11)))
print("A list of the first 10 factorial numbers :",fact_number)

A list of the first 10 numbers : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
A list of the first 10 factorial numbers : [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

### 40.Check if two lists have at least one element in common.

In [112]:
def check_element(l,p):
    for item in l:
        if item in p:
            return True
    return False

    
l = [11,2,34,49,56]
p = [4,56,2,7,8]
print("List 1 :",l)
print("List 2 :",p)
if check_element(l,p):
    print("Yes, list1 have at least one element in common with list2 ")
else:
    print("No, list1 doesn't have at least one element with list2 ")

List 1 : [11, 2, 34, 49, 56]
List 2 : [4, 56, 2, 7, 8]
Yes, list1 have at least one element in common with list2

### 41.Remove all elements from a list.

In [113]:
example_list = [11,12,14,15,16]
print("Example list is ",example_list)
example_list.clear()
print("Remove all elements from a list is ",example_list)

Example list is  [11, 12, 14, 15, 16]
Remove all elements from a list is  []

### 42.Replace negative numbers in a list with 0.

In [114]:
example_list = [11,-12,14,-6,90,-11]
print("Example list :" ,example_list)
for i in range(len(example_list)):
    if example_list[i]< 0:
        example_list[i] = 0
print("Replace negative numbers in a list with 0 : ",example_list)

Example list : [11, -12, 14, -6, 90, -11]
Replace negative numbers in a list with 0 :  [11, 0, 14, 0, 90, 0]

### 43.Convert a string into a list of words.

In [115]:
example_string = "This is beautiful scene"
print("Example string :",example_string)
list_of_words = example_string.split()
print("Convert a string into a list of words :",list_of_words)

Example string : This is beautiful scene
Convert a string into a list of words : ['This', 'is', 'beautiful', 'scene']

### 44.Convert a list of words into a string.

In [116]:
example_list = ['Today', 'is','Teachers','day']
print("Example list :",example_list)
convert_string = ' '.join(example_list)
print("Convert a list of words into a string :",convert_string)

Example list : ['Today', 'is', 'Teachers', 'day']
Convert a list of words into a string : Today is Teachers day

### 45.Create a list of the first 'n' powers of 2.

In [118]:
n = int(input("enter a number :"))
print("A list of numbers from 1 to 10 :",list(range(0,n+1)))
pow_2 = [ 2**i for i in range(0,n+1)]
print(f"list of the first '{n}' powers of 2 :",pow_2)

enter a number : 10

A list of numbers from 1 to 10 : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list of the first '10' powers of 2 : [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

### 46.Find the longest string in a list of strings.

In [119]:
list_of_string = ["Education","is","necessary","for","everyone"]
print("Example list of string :",list_of_string)
longest_string_is = " "
for i in list_of_string:
    if len(i) > len(longest_string_is):
        longest_string_is = i
        
print("The longest string in a list of strings :",longest_string_is)

Example list of string : ['Education', 'is', 'necessary', 'for', 'everyone']
The longest string in a list of strings : Education

### 47.Find the shortest string in a list of strings.

In [120]:
list_of_string = ["Books","give","us","knowledge"]
print("Example list of string :",list_of_string)
shortest_string_is = list_of_string[0]
for i in list_of_string:
    if len(i) < len(shortest_string_is):
        shortest_string_is = i
        
print("The shortest string in a list of strings :",shortest_string_is)

Example list of string : ['Books', 'give', 'us', 'knowledge']
The shortest string in a list of strings : us

### 48.Create a list of the first 'n' Triangular numbers.

In [121]:
n = int(input("enter a number for Triangular numbers :"))
numbers = [ f*(f+1)//2 for f in range(1,n)]
print(f"A list of the first {n} Triangular numbers : {numbers} ")

enter a number for Triangular numbers : 10

A list of the first 10 Triangular numbers : [1, 3, 6, 10, 15, 21, 28, 36, 45]

### 49.Check if a list contains another list as a subsequence.

In [122]:
def sequence_func(main_list, subsequence_list):
    sub_index = 0
    for element in main_list:
        if element == subsequence_list[sub_index]:
            sub_index +=1
            if sub_index == len(subsequence_list):
                return True
    return False


main_list = [10,22,33,4,55,6,74,86,97,10]
subsequence_list = [4,6]

print("Main list :",main_list)
print("Other list :",subsequence_list)

if sequence_func(main_list, subsequence_list):
    print("Yes, A main list contains another list as a subsequence")
else :
    print("No, A main list doesn't contain another list as a subsequence")

Main list : [10, 22, 33, 4, 55, 6, 74, 86, 97, 10]
Other list : [4, 6]
Yes, A main list contains another list as a subsequence

### 50.Swap two elements in a list by their indices.

In [123]:
example_list = [10,20,30,40,50,60]
print("Example list of elements in a list :",example_list)
index1 = 3
index2 = 5
element = example_list[index1]
example_list[index1] = example_list[index2]
example_list[index2] = element

print("Swap two elements in a list by their indices :",example_list)

Example list of elements in a list : [10, 20, 30, 40, 50, 60]
Swap two elements in a list by their indices : [10, 20, 30, 60, 50, 40]

## **Tuple Based Practice Problem :**
---

### 1.Create a tuple with integers from 1 to 5.

In [124]:
y = tuple(range(1,6))

print(f"A tuple with integers from 1 to 5 :",y)

A tuple with integers from 1 to 5 : (1, 2, 3, 4, 5)

### 2.Access the third element of a tuple.

In [125]:
tuple_example = (10,22,33,44,55)
print("Example of a tuple :",tuple_example)

index_access  = tuple_example[2]
print(f"Access the third element of a tuple :",index_access)

Example of a tuple : (10, 22, 33, 44, 55)
Access the third element of a tuple : 33

### 3.Find the length of a tuple without using the 'len()' function.

In [126]:
tuple_example = (23,33,43,53,63,73,83,93)
print("Example of a tuple :",tuple_example)
count_length  = 0
for i in tuple_example:
    count_length +=1
print("The length of a tuple without using the len() function :" ,count_length)

Example of a tuple : (23, 33, 43, 53, 63, 73, 83, 93)
The length of a tuple without using the len() function : 8

### 4.Count the occurrences of an element in a tuple.

In [127]:
tuple_example = (2,4,6,1,7,2,2,2)
print("Example of a tuple :",tuple_example)
count_occur = 0
element_to_occur = 2 
for element in tuple_example:
    if element == element_to_occur:
        count_occur +=1
print(f"Count the occurrences of an element {element_to_occur} in a tuple : {count_occur} times")

Example of a tuple : (2, 4, 6, 1, 7, 2, 2, 2)
Count the occurrences of an element 2 in a tuple : 4 times

### 5.Find the index of the first occurrence of an element in a tuple.

In [128]:
# Step 1: Create a tuple
example_tuple = (1,2,4,20,6,7,20,5)
print("Example tuple :",example_tuple)

# Step 2: Choose the element to find the index of
element_to_find = 20
print("Element to find in tuple :",element_to_find)

# Step 3: Initialize a variable to keep track of the index
index = -1  # Initialize with -1 to indicate that the element was not found

# Step 4: Iterate through the tuple and find the index of the chosen element
for i, item in enumerate(example_tuple):
    if item == element_to_find:
        index = i
        break  # Exit the loop once the first occurrence is found

# Step 5: Print the index of the first occurrence
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

Example tuple : (1, 2, 4, 20, 6, 7, 20, 5)
Element to find in tuple : 20
The first occurrence of 20 is at index 3.

### 6.Check if an element exists in a tuple.

In [129]:
tuple_example = (9,18,27,36,45,54)
print("Example of a tuple :",tuple_example)
element_exits = 18 
if element_exits in tuple_example:
    print(f"Yes, an element {element_exits} exist in a tuple .")
else :
    print(f"No, an element {element_exists} exist in a tuple .")

Example of a tuple : (9, 18, 27, 36, 45, 54)
Yes, an element 18 exist in a tuple .

### 7.Convert a tuple to a list.

In [130]:
tuple_example = (2,4,5,6,9)
print("Example of a tuple :",tuple_example)
convert_tuple = list(tuple_example)
print("Convert a tuple to a list :",convert_tuple)

Example of a tuple : (2, 4, 5, 6, 9)
Convert a tuple to a list : [2, 4, 5, 6, 9]

### 8.Convert a list to a tuple.

In [131]:
example_list = [23,45,67,89,11]
print("Example list :",example_list)
convert_tuple = tuple(example_list)
print("Convert a list to a tuple :",convert_tuple)

Example list : [23, 45, 67, 89, 11]
Convert a list to a tuple : (23, 45, 67, 89, 11)

### 9.Unpack the elements of a tuple into variables.

In [132]:
example_tuple = (11,23,45,67,88)
print("Example of tuple :",example_tuple)

v1,v2,v3,v4,v5 = example_tuple
print("Unpack the elements of a tuple into variables ")
print("variable 1 of a tuple :", v1)
print("variable 2 of a tuple :", v2)
print("variable 3 of a tuple :", v3)
print("variable 4 of a tuple :", v4)
print("variable 5 of a tuple :", v5)

Example of tuple : (11, 23, 45, 67, 88)
Unpack the elements of a tuple into variables
variable 1 of a tuple : 11
variable 2 of a tuple : 23
variable 3 of a tuple : 45
variable 4 of a tuple : 67
variable 5 of a tuple : 88

### 10.Create a tuple of even numbers from 1 to 10.

In [133]:
even_number = [num for num in range(2,11,2)]
in_tuple = tuple(even_number)

print("A tuple of even numbers from 1 to 10 :",in_tuple)

A tuple of even numbers from 1 to 10 : (2, 4, 6, 8, 10)

### 11.Create a tuple of odd numbers from 1 to 10.

In [134]:
odd_number = [odd for odd in range(1,11,2)]
in_tuple = tuple(odd_number)
print("A tuple of odd numbers from 1 to 10 :",in_tuple)

A tuple of odd numbers from 1 to 10 : (1, 3, 5, 7, 9)

### 12.Concatenate two tuples.

In [135]:
tuple1 = (1,2,3,4,5)
tuple2 = (11,12,13,14,15)
concatenate = tuple1 +tuple2
print("first tuple :",tuple1)
print("second tuple :",tuple2)
print("concatenate two tuples:",concatenate)

first tuple : (1, 2, 3, 4, 5)
second tuple : (11, 12, 13, 14, 15)
concatenate two tuples: (1, 2, 3, 4, 5, 11, 12, 13, 14, 15)

### 13.Repeat a tuple three times.

In [136]:
example_tuple = (23,11,45,77)
repeat_tuple = example_tuple*3
print("A tuple :",example_tuple)
print("Repeat a tupple three times :",repeat_tuple)

A tuple : (23, 11, 45, 77)
Repeat a tupple three times : (23, 11, 45, 77, 23, 11, 45, 77, 23, 11, 45, 77)

### 14.Check if a tuple is empty.

In [137]:
empty_tuple = ()
example_tuple = (1,2,3,4)
print("A empty tuple :",empty_tuple)
if not empty_tuple:
    print("A tuple is empty")
else:
    print("A tuple is not empty")

print("A example tuple :",example_tuple)
if not example_tuple:
    print("A emple tuple is empty")
else:
    print("A example tuple is not empty")

A empty tuple : ()
A tuple is empty
A example tuple : (1, 2, 3, 4)
A example tuple is not empty

### 15.Create a nested tuple.

In [138]:
example_tuple = ((1),(1,2),(1,2,3),(1,2,3,4))
print("A nested tuple :",example_tuple)

A nested tuple : (1, (1, 2), (1, 2, 3), (1, 2, 3, 4))

### 16.Access the first element of a nested tuple.

In [139]:
example_tuple = (('True','False'),(1,2,3),('list','tuple','set'))
first_element = example_tuple[0]
print("Example of nested tuple :",example_tuple)
print("Access the first element of a nested tuple :",first_element)

Example of nested tuple : (('True', 'False'), (1, 2, 3), ('list', 'tuple', 'set'))
Access the first element of a nested tuple : ('True', 'False')

### 17.Create a tuple with a single element.

In [140]:
single_element = (2,) # Note the trailing comma
print("A tuple with a single element :",single_element)

# Note : We create a tuple named single_element_tuple with a single element. The key here is to include a trailing comma after the element, 
#        which informs Python that you want to create a tuple with one element.

A tuple with a single element : (2,)

### 18.Compare two tuples.

In [141]:
t1 = (10,20,40,30)
t2 = (10,50,20,70)
print("first tuple :",t1)
print("second tuple :",t2)
print("Compare two tuples")
print("check for greater than or equal to ,first tuple >= second tuple :",t1>=t2)
print("check for less than or equal to ,first tuple <= second tuple :",t1<=t2)
print("check for equality ,first tuple == second tuple :",t1==t2)
print("check for inequality ,first tuple != second tuple :",t1 != t2)
print("check for less than ,first tuple < second tuple :",t1<t2)
print("check for greater tha ,first tuple > second tuple :",t1>t2)

first tuple : (10, 20, 40, 30)
second tuple : (10, 50, 20, 70)
Compare two tuples
check for greater than or equal to ,first tuple >= second tuple : False
check for less than or equal to ,first tuple <= second tuple : True
check for equality ,first tuple == second tuple : False
check for inequality ,first tuple != second tuple : True
check for less than ,first tuple < second tuple : True
check for greater tha ,first tuple > second tuple : False

### 19.Delete a tuple.

In [142]:
a_tuple = ('dsa',1,'java',5)
print("Example of tuple :",a_tuple)
del a_tuple
#step :once you delete the tuple by del statement then nameerror shows that you can't access the delete tuple .
# delete tuple no longer exists  
print("Delete a tuple :",a_tuple)

# Note : We use the del statement to delete the entire tuple.
#        When you try to access the tuple after deleting it, you will get a NameError because the tuple no longer exists.

Example of tuple : ('dsa', 1, 'java', 5)

NameError: name 'a_tuple' is not defined

### 20.Slice a tuple.

In [143]:
example_tuple = (2,4,'True','tuple','set',89,'list','string')
slice_tuple = example_tuple[2:8] #slice syntax[start:end] ,start(inclusive) and end(exclusive)
print("Example tuple :",example_tuple)
print("Slice a tuple :",slice_tuple)

Example tuple : (2, 4, 'True', 'tuple', 'set', 89, 'list', 'string')
Slice a tuple : ('True', 'tuple', 'set', 89, 'list', 'string')

### 21.Find the maximum value in a tuple.

In [144]:
example_tuple = (12,34,15,78,22)
max_value = max(example_tuple)
print("Example tuple :",example_tuple)
print("The maximum value in a tuple :",max_value)

Example tuple : (12, 34, 15, 78, 22)
The maximum value in a tuple : 78

### 22.Find the minimum value in a tuple.

In [145]:
example_tuple = (2,5,67,89)
min_value = min(example_tuple)
print("Example of tuple :",example_tuple)
print("The minimum value in a tuple :",min_value)

Example of tuple : (2, 5, 67, 89)
The minimum value in a tuple : 2

### 23.Convert a string to a tuple of characters.

In [146]:
string = "Internet is powerful"
print("A string :",string)
tuple_char = tuple(string)
print("Convert a string to a tuple of characters :",tuple_char)

A string : Internet is powerful
Convert a string to a tuple of characters : ('I', 'n', 't', 'e', 'r', 'n', 'e', 't', ' ', 'i', 's', ' ', 'p', 'o', 'w', 'e', 'r', 'f', 'u', 'l')

### 24.Convert a tuple of characters to a string.

In [147]:
tuple_of_char = ('N','a','m','a','s','t','e','y',' ','b','h','a','r','a','t')
print("A tuple of characters :",tuple_of_char)
tuple_to_str = ''.join(tuple_of_char)
print("Convert a tuple of characters to a string :",tuple_to_str)

A tuple of characters : ('N', 'a', 'm', 'a', 's', 't', 'e', 'y', ' ', 'b', 'h', 'a', 'r', 'a', 't')
Convert a tuple of characters to a string : Namastey bharat

### 25.Create a tuple from multiple data types.

In [148]:
mul_tuple = (45,1,4,'True',89.77,True,'data types') 
# 'True' is string where True is boolean expression
#45,1,4 in integer 
# 89.77 is floating point number
#'data types' is in string 
print("A tuple from multiple data types :",mul_tuple)

A tuple from multiple data types : (45, 1, 4, 'True', 89.77, True, 'data types')

### 26.Check if two tuples are identical.

In [149]:
tuple1 = (2,4,6)
tuple2 = (8,7,0)
tuple3 = (2,4,6)
print("Tuple 1 :",tuple1)
print("Tuple 2 :",tuple2)
print("Tuple 3 :",tuple3)
print("Check for Tuple 1 is identical to Tuple 2 :",tuple1==tuple2)
print("Check for Tuple 2 is identical to Tuple 3 :",tuple2==tuple3) 
print("Check for Tuple 3 is identical to Tuple 1 :",tuple3==tuple1)

Tuple 1 : (2, 4, 6)
Tuple 2 : (8, 7, 0)
Tuple 3 : (2, 4, 6)
Check for Tuple 1 is identical to Tuple 2 : False
Check for Tuple 2 is identical to Tuple 3 : False
Check for Tuple 3 is identical to Tuple 1 : True

### 27.Sort the elements of a tuple.

In [150]:
example_tuple = (23,56,12,79,10)
print("Example of tuple :",example_tuple)
sort_element = tuple(sorted(example_tuple))
print("Sort the elements of a tuple :",sort_element)

Example of tuple : (23, 56, 12, 79, 10)
Sort the elements of a tuple : (10, 12, 23, 56, 79)

### 28.Convert a tuple of integers to a tuple of strings.

In [2]:
tuple_in_integer = (10,20,30,40,50)
print("Tuple of integers :",tuple_in_integer)
string  = (str(i) for i in tuple_in_integer)
tuple_string = tuple(string)
print("Convert a tuple of integers to a tuple of strings :",tuple_string)

Tuple of integers : (10, 20, 30, 40, 50)
Convert a tuple of integers to a tuple of strings : ('10', '20', '30', '40', '50')

### 29.Convert a tuple of strings to a tuple of integers.

In [153]:
tuple_of_string = ('11','22','33','44','55','66')
print("Tuple of strings :",tuple_of_string)
tuple_of_integer = tuple(int(p) for p in tuple_of_string)
print("Convert a tuple of strings to a tuple of integers :",tuple_of_integer)

Tuple of strings : ('11', '22', '33', '44', '55', '66')
Convert a tuple of strings to a tuple of integers : (11, 22, 33, 44, 55, 66)

### 30.Merge two tuples.

In [154]:
tuple1 = (12,34,67,89)
tuple2 = (23,45,78,11)
print("Tuple 1 :",tuple1)
print("Tuple 2 :",tuple2)
merge_tuple = tuple1+tuple2
print("Merge Tuple1 and Tuple2 :",merge_tuple)

Tuple 1 : (12, 34, 67, 89)
Tuple 2 : (23, 45, 78, 11)
Merge Tuple1 and Tuple2 : (12, 34, 67, 89, 23, 45, 78, 11)

### 31.Flatten a nested tuple.

In [155]:
t = (12,3,(4,2),(3,4,7))
print("Example a nested tuple :",t)
print("Flatten a nested list :")
k = tuple(j for i in t for j in (i if type(i)== tuple else [i]))
print(k)

Example a nested tuple : (12, 3, (4, 2), (3, 4, 7))
Flatten a nested list :
(12, 3, 4, 2, 3, 4, 7)

### 32.Create a tuple of the first 5 prime numbers.

In [156]:
# Function to check if a number is prime
def is_prime_func(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 15) if is_prime_func(num)][:5]
# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Create a tuple of the first 5 prime numbers :", prime_numbers_tuple)

Create a tuple of the first 5 prime numbers : (2, 3, 5, 7, 11)

### 33.Check if a tuple is a palindrome.

In [157]:
def tuple_func(palindrome):
    return palindrome == palindrome[::-1]
    
    
palin_tuple = (1,2,3,4,3,2,1)
unpalin_tuple = (23,45,11,34,67)
print("First tuple :",palin_tuple)
print("Second tuple :",unpalin_tuple)

ispalin = tuple_func(palin_tuple)
unpalin = tuple_func(unpalin_tuple)
print("A first tuple is a palindrome :",ispalin)
print("A second tuple is not a palindrome :",unpalin)

First tuple : (1, 2, 3, 4, 3, 2, 1)
Second tuple : (23, 45, 11, 34, 67)
A first tuple is a palindrome : True
A second tuple is not a palindrome : False

### 34.Create a tuple of squares of numbers from 1 to 5.

In [158]:
number = tuple(num for num in range(1,6))
print("A tuple of numbers from 1 to 5 :",number)
square = tuple(i**2 for i in range(1,6))
print("A tuple of squares of numbers from 1 to 5 :",square)

A tuple of numbers from 1 to 5 : (1, 2, 3, 4, 5)
A tuple of squares of numbers from 1 to 5 : (1, 4, 9, 16, 25)

### 35.filter out all even numbers from a tuple.

In [159]:
example_tuple = (12,23,45,11,67,88)
print("Example of tuple :",example_tuple)
even_num = tuple( i for i in example_tuple if i%2==0)
print("Filter out all even numbers from a tuple :",even_num)

Example of tuple : (12, 23, 45, 11, 67, 88)
Filter out all even numbers from a tuple : (12, 88)

### 36.Multiply all elements in a tuple by 2.

In [160]:
example_tuple = (7,14,21)
print("Example of tuple :",example_tuple)
mul_element = tuple(i*2 for i in example_tuple)
print("Multiply all elements in a tuple by 2 :",mul_element)

Example of tuple : (7, 14, 21)
Multiply all elements in a tuple by 2 : (14, 28, 42)

### 37.Create a tuple of random numbers.

In [161]:
import random
random_num = tuple(random.randint(1,1000) for i in range(20))
print("A tuple of random numbers :",random_num)

A tuple of random numbers : (742, 99, 536, 915, 609, 441, 322, 346, 859, 908, 924, 379, 704, 388, 785, 746, 895, 360, 763, 382)

### 38.Check if a tuple is sorted.

In [162]:
# Function to check if a tuple is sorted
def is_sorted_func(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (6,7,8,9,10)
unsorted_tuple = (9,6,7,10,8)
print("Sorted tuple :",sorted_tuple)
print("Unsorted tuple :",unsorted_tuple)

# Check if the tuples are sorted
sorted_1 = is_sorted_func(sorted_tuple)
sorted_2 = is_sorted_func(unsorted_tuple)

print("Check if a tuple is sorted")
print("Sorted_tuple is sorted :", sorted_1)
print("Unsorted_tuple is sorted :", sorted_2)

Sorted tuple : (6, 7, 8, 9, 10)
Unsorted tuple : (9, 6, 7, 10, 8)
Check if a tuple is sorted
Sorted_tuple is sorted : True
Unsorted_tuple is sorted : False

### 39.Rotate a tuple to the left by 'n' positions.

In [163]:

def rotate_fun(l,n):
    return tuple((l[n:])) + l[:n]

example_tuple = (10,20,30,40,50)
print("Example tuple :",example_tuple)

rotated_tuple = tuple(rotate_fun(example_tuple,2))
print(f"Rotate a list to the left by 2 position is {rotated_tuple} ")

Example tuple : (10, 20, 30, 40, 50)
Rotate a list to the left by 2 position is (30, 40, 50, 10, 20)

### 40.Rotate a tuple to the right by 'n' poisitions.

In [164]:
def rotate_fun(l,n):
    return tuple((l[-n:])) + l[:-n]

example_tuple = (10,20,30,40,50)
print("Example tuple :",example_tuple)

rotated_tuple = tuple(rotate_fun(example_tuple,2))
print(f"Rotate a list to the Right by 2 position is {rotated_tuple} ")

Example tuple : (10, 20, 30, 40, 50)
Rotate a list to the Right by 2 position is (40, 50, 10, 20, 30)

### 41.Create a tuple of the first 5 fibnonacci numbers.

In [165]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci_func(n):
    fibonacci = [0, 1]           # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:           # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]        # Calculate the next Fibonacci number
        fibonacci.append(next_number)         # Add the next Fibonacci number to the list
    return tuple(fibonacci)             # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci_func(5)

# Print the resulting tuple
print("A tuple of the first 5 fibnonacci numbers :",fibonacci_tuple)

A tuple of the first 5 fibnonacci numbers : (0, 1, 1, 2, 3)

### 42.Create a tuple from user input.

In [166]:
user_input = tuple(input("enter a user input"))
print("A tuple from user input ",user_input)

enter a user input 12,45

A tuple from user input  ('1', '2', ',', '4', '5')

### 43.Swap two elements in a tuple.

In [167]:
_tuple = (1,2,3,4,5)
print("Example tuple :",_tuple)
index1 = 1
index2 = 3

print("Swap two elements in a tuple ")

swap_element = tuple(
    _tuple[i] if i not in (index1,index2) else
    _tuple[index2] if i == index1 else 
    _tuple[index1]
    for i in range(len(_tuple))
)
print("Swapped elements in a tuple :",swap_element)

Example tuple : (1, 2, 3, 4, 5)
Swap two elements in a tuple
Swapped elements in a tuple : (1, 4, 3, 2, 5)

### 44.Reverse the elements of a tuple.

In [168]:
example_tuple = (15,30,45,60,75,90,105,120)
print("Example of tuple :",example_tuple)
reverse_element = tuple(example_tuple[::-1])
print("Reverse the elements of a tuple :",reverse_element)

Example of tuple : (15, 30, 45, 60, 75, 90, 105, 120)
Reverse the elements of a tuple : (120, 105, 90, 75, 60, 45, 30, 15)

### 45.Create a tuple of the first 'n' powers of 2.

In [169]:
num = 10
print(f"A tuple of first {num} number :",tuple(range(1,num+1)))
tuple_power = tuple(2**i for i in range(1,num+1))
print(f"Created a tuple of the first '{num}' power of 2 :",tuple_power)

A tuple of first 10 number : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Created a tuple of the first '10' power of 2 : (2, 4, 8, 16, 32, 64, 128, 256, 512, 1024)

### 46.Find the longest string in a tuple of strings.

In [170]:
tuple_of_string = ("carrom board","chess","ludo")
print("Tuple of strings :",tuple_of_string)
longest_string = max(tuple_of_string, key = len)
print("The longest string in a tuple of string :",longest_string)

Tuple of strings : ('carrom board', 'chess', 'ludo')
The longest string in a tuple of string : carrom board

### 47.Find the shortest string in a tuple of strings.

In [171]:
tuple_of_string = ("chess","carrom board","ludo")
print("Tuple of string :",tuple_of_string)
shortest_string = min(tuple_of_string,key = len)
print("The shortest string in a tuple of strings :",shortest_string)

Tuple of string : ('chess', 'carrom board', 'ludo')
The shortest string in a tuple of strings : ludo

### 48.Create a tuple of the first 'n' triangular numbers.

In [172]:
n = 5
print("A number :",n)
triangular_number_tuple = tuple(( i * (i+1)//2) for i in range(1, n+1))
print(f"Create a tuple of first {n} triangular numbers :",triangular_number_tuple)

A number : 5
Create a tuple of first 5 triangular numbers : (1, 3, 6, 10, 15)

### 49.Check if a tuple contains another tuples as a subsequence.

In [173]:
def sub_tuple_func(tuple1, tuple2):
    sub_length = len(tuple2)
    for i in range(len(tuple1) - sub_length  + 1) :
        if tuple1[ i : i + sub_length ]== tuple2 :
            return True
    return False




tuple1 = (1,2,3,4,5,6)
tuple2 = (3,4,5)

print("Tuple 1 :",tuple1)
print("Tuple 2 :",tuple2)
print("Check if tuple contains another tuples as a subsequence ")
check_subseq = sub_tuple_func(tuple1, tuple2)
if check_subseq :
    print("Yes, Tuple1 contains tuple2 as a subsequence")
else :
    print("No, Tuple1 doesn't contain tuple2 as a subsequence")

Tuple 1 : (1, 2, 3, 4, 5, 6)
Tuple 2 : (3, 4, 5)
Check if tuple contains another tuples as a subsequence
Yes, Tuple1 contains tuple2 as a subsequence

### 50.Create a tuple of alternating 1s and 0s of length 'n'.

In [174]:
n = 10
print("Length of 1s and 0s :",tuple(range(0,n+1)))
alternate_tuple = tuple( i%2 for i in range(n+1))
print(f"Creates a tuple of alternating 1s and 0s of length {n} :",alternate_tuple)

Length of 1s and 0s : (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Creates a tuple of alternating 1s and 0s of length 10 : (0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

## **Set Based Practice Problem :**
---

### 1.Create a set with integers from 1 to 5.

In [175]:
s = set(range(1,6))
print("A set with integers from 1 to 5 :",s)

A set with integers from 1 to 5 : {1, 2, 3, 4, 5}

### 2.Adda an element to a set.

In [176]:
example_of_set = {11,13,16,19}
print("A set :",example_of_set)
add_element =23
print("Add an element :",add_element)
example_of_set.add(add_element)
print("Add an element to a set :",example_of_set)

A set : {16, 11, 19, 13}
Add an element : 23
Add an element to a set : {11, 13, 16, 19, 23}

### 3.Remove an element from a set.

In [177]:
example_of_set = {1,2,3,4,5,6,7,8,9}
print("Example of set :",example_of_set)
remove_element = 6
print("Remove element from set :",remove_element)
example_of_set.remove(remove_element)
print("Remove an element from a set :",example_of_set)

Example of set : {1, 2, 3, 4, 5, 6, 7, 8, 9}
Remove element from set : 6
Remove an element from a set : {1, 2, 3, 4, 5, 7, 8, 9}

### 4.Check if an element exists in a set.

In [178]:
# Step 1: Create a set with some elements
example_set = {1,90,20,6,12,78,3,5,7,9}
print("Example set :",example_set)
# Step 2: Ask the user for the element they want to check
element_to_check = int(input("Enter the element to check: "))

# Step 3: Use the "in" keyword to check if the element exists in the set
if element_to_check in example_set:
    # Step 4: If the element exists in the set, print a message
    print(f"{element_to_check} exists in the set.")
else:
    # Step 5: If the element does not exist in the set, print a message
    print(f"{element_to_check} does not exist in the set.")

Example set : {1, 3, 5, 6, 7, 9, 12, 78, 20, 90}

Enter the element to check:  12

12 exists in the set.

### 5.Find the length of a set without using the 'len()' function.

In [179]:
example_of_set = {1,2,3,4,5,7}
print("A example of set :",example_of_set)
length = 0
for i in example_of_set:
    length +=1
print("The length of a set without using the len() function :",length)

A example of set : {1, 2, 3, 4, 5, 7}
The length of a set without using the len() function : 6

### 6.Clear all elements from a set.

In [180]:
example_of_set = {10,20,30,40,50}
print("Example of set :",example_of_set)
example_of_set.clear()
print("Clear all element from an example of set :",example_of_set)

Example of set : {50, 20, 40, 10, 30}
Clear all element from an example of set : set()

### 7.Create a set of even numbers from 1 to 10.

In [181]:
even_number_set = set(i for i in range(1,11) if i%2 == 0 )
print("A set of even numbers from 1 to 10 :",even_number_set)

A set of even numbers from 1 to 10 : {2, 4, 6, 8, 10}

### 8.Create a set of odd numbers from 1 to 10.

In [182]:
odd_number_set = set(i for i in range(1,11) if i%2 !=0)
print("A set of odd numbers from 1 to 10 :",odd_number_set)

A set of odd numbers from 1 to 10 : {1, 3, 5, 7, 9}

### 9.Find the union of two sets.

In [183]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
print("First set :",s1)
print("Second set :",s2)
union_set = s1.union(s2)
print("The union of two sets :",union_set)

First set : {1, 2, 3, 4, 5}
Second set : {6, 7, 8, 9, 10}
The union of two sets : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### 10.Find the intersection of two sets.

In [184]:
s1 = {1,2,3,4}
s2 ={2,3,4,5,6}
print("First set :",s1)
print("Second set :",s2)
intersection_set = s1.intersection(s2)
print("The intersection of two sets :",intersection_set)

First set : {1, 2, 3, 4}
Second set : {2, 3, 4, 5, 6}
The intersection of two sets : {2, 3, 4}

### 11.Find the difference between two sets.

In [185]:
s1 = {1,2,3,4,5,6,7,8}
s2 = {4,5,6,7,8,9,10,12}
print("First set :",s1)
print("Second set :",s2)
difference_set = s1.difference(s2)
print("The difference between two sets :",difference_set)

First set : {1, 2, 3, 4, 5, 6, 7, 8}
Second set : {4, 5, 6, 7, 8, 9, 10, 12}
The difference between two sets : {1, 2, 3}

### 12.Check if a set is a subset of another set.

In [186]:
s1 = {5,6,7,8,9}
s2 = {5,6,7,8,9,10,11,12}
print("First set :",s1)
print("Second set :",s2)
subset = s1.issubset(s2)
if subset :
    print(f"Yes, a set s1 {s1} is a subset of s2 {s2} ")
else :
    print(f"No, a set s1 {s1} is not a subset of s2{s2}")

First set : {5, 6, 7, 8, 9}
Second set : {5, 6, 7, 8, 9, 10, 11, 12}
Yes, a set s1 {5, 6, 7, 8, 9} is a subset of s2 {5, 6, 7, 8, 9, 10, 11, 12}

### 13.Check if a set is a superset of another set.

In [187]:
s1 = {1,2,3,4,5,6}
s2 = {2,3,4}
print("First set :",s1)
print("Second set :",s2)
superset = s1.issuperset(s2)
if superset:
    print(f"Yes, a set s1 {s1} is a superset of s2 {s2} ")
else :
    print(f"No, a set s1 {s1} is not a superset of s2 {s2} ")

First set : {1, 2, 3, 4, 5, 6}
Second set : {2, 3, 4}
Yes, a set s1 {1, 2, 3, 4, 5, 6} is a superset of s2 {2, 3, 4}

### 14.Create a set from a list.

In [188]:
example_list = [2,3,4,5,9]
print("An Example list :",example_list)
a_set = set(example_list)
print("Created a set from a list :",a_set)

An Example list : [2, 3, 4, 5, 9]
Created a set from a list : {2, 3, 4, 5, 9}

### 15.Convert a set to a list.

In [189]:
a_set = {1,2,4,5,7,8,9}
print("A set :",a_set)
set_to_list = list(a_set)
print("Convert a set to a list :",set_to_list)

A set : {1, 2, 4, 5, 7, 8, 9}
Convert a set to a list : [1, 2, 4, 5, 7, 8, 9]

### 16.Remove a random element from a set.

In [190]:
import random
set1 = {1,2,3,4,5,6,7,8}
print("Set1 ",set1)
random_element = random.choice(list(set1))
print("A random element from a set to converted to list :",random_element)
set1.remove(random_element)
print("Remove a random element from a set" )
print("Updated set :",set1)

Set1  {1, 2, 3, 4, 5, 6, 7, 8}
A random element from a set to converted to list : 4
Remove a random element from a set
Updated set : {1, 2, 3, 5, 6, 7, 8}

### 17.Pop an element from a set.

In [191]:
set1 = {1,2,3,4,6,7}
print("A set :",set1)
new = set1.pop()
print("Pop an element from a set :",new)
print("After pop set is :",set1)

A set : {1, 2, 3, 4, 6, 7}
Pop an element from a set : 1
After pop set is : {2, 3, 4, 6, 7}

### 18.Check if two sets have no elements in common.

In [192]:
s1 = {1,2,3,4}
s2 = {5,6,7,8,9}
print("Set 1 :",s1)
print("Set 2 :",s2)
common = s1.intersection(s2)
if not common:
    print(f"set1 {s1} has no element in common in set2 {s2}")
else:
    print(f"set1 {s1} has common element in set2 {s2} ")

Set 1 : {1, 2, 3, 4}
Set 2 : {5, 6, 7, 8, 9}
set1 {1, 2, 3, 4} has no element in common in set2 {5, 6, 7, 8, 9}

### 19.Find the symmetric difference between two sets.

In [193]:
s1 = {1,2,3,4,5,6,7,8,9}
s2 = {5,6,7,8,9,10,11,12}
print("Set 1 :",s1)
print("Set 2 :",s2)
symmetric_diff = s1^s2
print("The symmetric difference between s1 and s2 :",symmetric_diff)

Set 1 : {1, 2, 3, 4, 5, 6, 7, 8, 9}
Set 2 : {5, 6, 7, 8, 9, 10, 11, 12}
The symmetric difference between s1 and s2 : {1, 2, 3, 4, 10, 11, 12}

### 20.Update a set with elements from another set.

In [194]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
print("Set 1 :",s1)
print("Set 2 :",s2)
s1.update(s2)
print("Update a s1 with elements from s2 :",s1)

Set 1 : {1, 2, 3, 4, 5, 6}
Set 2 : {4, 5, 6, 7, 8, 9}
Update a s1 with elements from s2 : {1, 2, 3, 4, 5, 6, 7, 8, 9}

### 21.Create a set of the first 5 prime numbers.

In [195]:
# Function to check if a number is prime
def is_prime_func(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_number_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_number_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime_func(num):
        # If the number is prime, add it to the prime_set
        prime_number_set.add(num)

    # Move on to the next number for the next iteration
    num += 1


print("Set of the first 5 prime numbers :", prime_number_set)

Set of the first 5 prime numbers : {2, 3, 5, 7, 11}

### 22.Check if two sets are identical.

In [196]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,1,2,3,6} # order doesn't matter in the case of identical 
print("Set 1 :",s1)
print("Set 2 :",s2)
print("Check if two sets are identical ")
if s1 == s2 :
    print(f"Yes, s1 {s1} is identical to s2 {s2} ")
else :
    print(f"No, s1 {s1} is not identical to s2 {s2} ")

Set 1 : {1, 2, 3, 4, 5, 6}
Set 2 : {1, 2, 3, 4, 5, 6}
Check if two sets are identical
Yes, s1 {1, 2, 3, 4, 5, 6} is identical to s2 {1, 2, 3, 4, 5, 6}

### 23.Create a frozen set.

In [197]:
example_list = [1,2,3,4,5,6,7,8,9]
print("A list :",example_list)
frozen_set = frozenset(example_list)
print("Created a frozen set :",frozen_set)

A list : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Created a frozen set : frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

### 24.Check if a set is disjoint with another set.

In [198]:
Set1 = {1,2,3,4,5}
set2 = {8,9,10,11}
print("Set 1 :",set1)
print("Set 2 :",set2)
check_disjoint = set1.isdisjoint(set2)
print("Check if set1 is disjoint with set2 .")
if check_disjoint :
    print(f"True, set1 {set1} is disjoint with set2 {set2}")
else :
    print(f"alse, set1 {set1} isjoint with set2 {set2}")

Set 1 : {2, 3, 4, 6, 7}
Set 2 : {8, 9, 10, 11}
Check if set1 is disjoint with set2 .
True, set1 {2, 3, 4, 6, 7} is disjoint with set2 {8, 9, 10, 11}

### 25.Create a set of squares of numbers from 1 to 5.

In [199]:
print("A set of numbers from 1 to 5 :",set(range(1,6))) 
square = set(i*i for i in range(1,6))
print("A set of squares of numbers from 1 to 5 :",square)

A set of numbers from 1 to 5 : {1, 2, 3, 4, 5}
A set of squares of numbers from 1 to 5 : {1, 4, 9, 16, 25}

### 26.Filter out all even nmbers from a set.

In [200]:
example_set = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15}
print("Example set :",example_set)
even_number = set(i for i in example_set if i%2 == 0)
print("Filter out all even numbers from a set :" ,even_number)

Example set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
Filter out all even numbers from a set : {2, 4, 6, 8, 10, 12, 14}

### 27.Multiply all elements in a set by 2.

In [201]:
example_set = {1,2,3,4,5}
print("Example set :",example_set)
multiple = set(i*2 for i in example_set)
print("Multiply all elements in a set by 2 :",multiple)

Example set : {1, 2, 3, 4, 5}
Multiply all elements in a set by 2 : {2, 4, 6, 8, 10}

### 28.Create a set of random numbers.

In [202]:
import random
random_number = set(random.randint(1,1000) for i in range(20))
print("Create a set of random numbers :",random_number)

Create a set of random numbers : {912, 22, 535, 920, 36, 37, 46, 47, 434, 693, 312, 698, 834, 76, 336, 471, 734, 1000, 497, 765}

### 29.Check if a set is empty.

In [203]:
Empty_set = {}
example_set = {1,2,3,4}
print("Empty set :",Empty_set)

if not Empty_set :
    print("This set is empty.")
else :
    print("This set is not empty.")
    
print("Example set :",example_set)    
if example_set :
    print("Example set has elements.")
else :
    print("Example set has no elements.")

Empty set : {}
This set is empty.
Example set : {1, 2, 3, 4}
Example set has elements.

### 30.Create a nested set (hint: use frozenset).

In [204]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9}
print("Set 1 :",s1)
print("Set 2 :",s2)
frozen_s1 = frozenset(s1)
frozen_s2 = frozenset(s2)
Nested_set = (frozen_s1,frozen_s2)
print("A nested set :",Nested_set)

Set 1 : {1, 2, 3, 4, 5}
Set 2 : {8, 9, 6, 7}
A nested set : (frozenset({1, 2, 3, 4, 5}), frozenset({8, 9, 6, 7}))

### 31.Remove an element from a set using the discard method.

In [205]:
example_set = {1,2,3,4,5,6,7,8,9}
element_remove = 6
print("Example set :",example_set)
example_set.discard(element_remove)
print("Remove an element from a set using the discard method .")
print(f"Remove element {element_remove} from a set :",example_set)

Example set : {1, 2, 3, 4, 5, 6, 7, 8, 9}
Remove an element from a set using the discard method .
Remove element 6 from a set : {1, 2, 3, 4, 5, 7, 8, 9}

### 32.compare two sets.

In [206]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7,8}
print("Set 1 :",s1)
print("Set 2 :",s2)
print("Use set operations to compare the sets.")
union = s1.union(s2)
intersection = s1.intersection(s2)
subset = s1.issubset(s2)
superset = s1.issuperset(s2)
difference1 = s1.difference(s2)
difference2 = s2.difference(s1)


print("1. Union :",union)
print("2. Intersection of set :",intersection)
print("3. Is set1 subset of set2 ?",subset)
print("4. Is set1 superset of set2 ?",superset)
print("5. Elements of set1 but not in set2 :",difference1)
print("6. Elements of set2 but not in set1 :",difference2)

Set 1 : {1, 2, 3, 4, 5}
Set 2 : {3, 4, 5, 6, 7, 8}
Use set operations to compare the sets.
1. Union : {1, 2, 3, 4, 5, 6, 7, 8}
2. Intersection of set : {3, 4, 5}
3. Is set1 subset of set2 ? False
4. Is set1 superset of set2 ? False
5. Elements of set1 but not in set2 : {1, 2}
6. Elements of set2 but not in set1 : {8, 6, 7}

### 33.Create a set from a string.

In [207]:
string = "country"
print("string :",string)
create_set = set(string)
print("Created a set from a string :",create_set)

string : country
Created a set from a string : {'y', 't', 'r', 'u', 'c', 'o', 'n'}

### 34.Convert a set of strings to a set of integers.

In [208]:
set_of_string = {'289','324','361','400'}
print("Set of string :",set_of_string)
set_integer = set(int(i) for i in set_of_string)

print("Convert a set of strings to a set of integers :",set_integer)

Set of string : {'324', '289', '361', '400'}
Convert a set of strings to a set of integers : {400, 289, 324, 361}

### 35.Convert a set of integers to a set of strings.

In [3]:
set_integer = {144,169,196,225}
print("Set of integers :",set_integer)
of_string = (str(i) for i in set_integer)
set_of_string = set(of_string)
print("Convert a set of integers to a set of strings :",set_of_string)

Set of integers : {144, 169, 196, 225}
Convert a set of integers to a set of strings : {'169', '144', '225', '196'}

### 36.Create a set from a tuple.

In [212]:
example_tuple = (1,2,3,4,5,6)
print("Example tuple :",example_tuple)
create_set = set(example_tuple)
print("Created set from a tuple :",create_set)

Example tuple : (1, 2, 3, 4, 5, 6)
Created set from a tuple : {1, 2, 3, 4, 5, 6}

### 37.Convert a set to a tuple.

In [213]:
example_set = {1,2,3,4,5,6,7,8,9,10,11,12}
print("Example set :",example_set)
create_tuple = tuple(example_set)
print("Convert a set to a tuple :",create_tuple)

Example set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
Convert a set to a tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

### 38.Find the maximum value in a set.

In [214]:
example_set = {0,1,23,52,11,256}
print("Example set :",example_set)
max_value = max(example_set)
print("The maximum value in a set :",max_value)

Example set : {0, 1, 256, 52, 23, 11}
The maximum value in a set : 256

### 39.Find the minimum value in a set.

In [215]:
example_set = {2,3,4,5,6}
print("Example set :",example_set)
min_value = min(example_set)
print("The minimum value in a set :",min_value)

Example set : {2, 3, 4, 5, 6}
The minimum value in a set : 2

### 40.Create a set from user input.

In [216]:
user_set = set()
print("Enter elements for the set (type 'its done' to finish  :")

while True:
    user_input = input("enter input : ") 

    if user_input.lower() == 'its done':
        break  

    
    user_set.add(user_input)


print("Created a set from user input :", user_set)

Enter elements for the set (type 'its done' to finish  :

enter input :  India
enter input :  is
enter input :  my country
enter input :  its done

Created a set from user input : {'is', 'India', 'my country'}

### 41.Check if the intersection of two sets is empty.

In [217]:
s1 = {1,2,3,4,5}
s2 = {3,7,8,5,9}
print("Set 1 :",s1)
print("Set 2 :",s2)
check_intersection = s1.intersection(s2)
print("Check if the intersections of two sets (s1 and s2) is empty ")

if check_intersection:
    print("Yes, the intersection of two sets is possible : ",check_intersection)
else :
    print("No, the intersection of two sets is not possible : ",check_intersection)

Set 1 : {1, 2, 3, 4, 5}
Set 2 : {3, 5, 7, 8, 9}
Check if the intersections of two sets (s1 and s2) is empty
Yes, the intersection of two sets is possible :  {3, 5}

### 42.Create a set of the first 5 Fibonacci numbers.

In [218]:
def fibonacci_nums_func(n):
    if n <= 0:
        return [0]
    sequence = [0, 1]
    while len(sequence) <= n:
        next_value = sequence[len(sequence) - 1] + sequence[len(sequence) - 2]
        sequence.append(next_value)
    return set(sequence)

print("Create a set of first 5 Fibonacci numbers :" ,fibonacci_nums_func(5))

Create a set of first 5 Fibonacci numbers : {0, 1, 2, 3, 5}

### 43.Remove duplicates from a list using sets.

In [219]:
example_list = [1,2,3,3,1,6,3,8,7,7,9]
print("Example list :",example_list)
unique_set = set(example_list)
print("Remove duplucates from a list using sets :",unique_set)

Example list : [1, 2, 3, 3, 1, 6, 3, 8, 7, 7, 9]
Remove duplucates from a list using sets : {1, 2, 3, 6, 7, 8, 9}

### 44.Check if two sets have the same elements, regardless of their count.

In [220]:
def same_element(s1,s2):
    sort_s1 = sorted(list(s1))
    sort_s2 = sorted(list(s2))
    return sort_s1 == sort_s2



s1 = {2,3,4,2,1,3}
s2 = {3,4,1,2}
print("Set 1 :",s1)
print("set 2 :",s2)
print("Check if set1 have the same elements of set 2, regardless of their count.")
check_element = same_element(s1,s2)
if check_element :
    print("The set1 have same elements of set2 ")
else :
    print("The set1 have not same elements of set2")

Set 1 : {1, 2, 3, 4}
set 2 : {1, 2, 3, 4}
Check if set1 have the same elements of set 2, regardless of their count.
The set1 have same elements of set2

### 45.Create a set of the first 'n' powers of 2.

In [221]:
n = 5
print("A number :", n)
print(f"A set of numbers from 0 to {n} :",set(range(0,n))) 
set_number = set(2**i for i in range(0,n))
print(f"Create a set of the first '{n}' powers of 2 :",set_number)

A number : 5
A set of numbers from 0 to 5 : {0, 1, 2, 3, 4}
Create a set of the first '5' powers of 2 : {1, 2, 4, 8, 16}

### 46.Find the common elements between a set and a list.

In [222]:
example_set = {1,2,3,4,5}
example_list = [4,5,7,10,2]
print("Example set :",example_set)
print("Example list :",example_list)
convert_list_to_set = set(example_list)
print("converted list to set :",convert_list_to_set)
common_element = []
for element in example_set :
    if element in convert_list_to_set :
        common_element.append(element)
        
print("The common elements between Example_set and example_list :",common_element)

Example set : {1, 2, 3, 4, 5}
Example list : [4, 5, 7, 10, 2]
converted list to set : {2, 4, 5, 7, 10}
The common elements between Example_set and example_list : [2, 4, 5]

### 47.Create a set of the first 'n' triangular numbers.

In [223]:
n = int(input("enter a number for Triangular numbers :"))
numbers = set( f*(f+1)//2 for f in range(1,n+1))
print(f"A set of the first {n} Triangular numbers : {numbers} ")

enter a number for Triangular numbers : 10

A set of the first 10 Triangular numbers : {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

### 48.Check if a set contains another set as a subset.

In [225]:
set1 = {1,2,3,4,5,6}
print("Example set 1 :",set1)
set2 = {4,5}
print("Example of another set2 :",set2)
is_subset = set2.issubset(set1)
print("Check if a set contains another set as a subset ")
if is_subset :
    print("Yes, set2 is a subset of set1 ")
else :
    print("No, set2 is not a subset of set1 ")

Example set 1 : {1, 2, 3, 4, 5, 6}
Example of another set2 : {4, 5}
Check if a set contains another set as a subset
Yes, set2 is a subset of set1

### 49.Create a set of alternating 1s and 0s of length 'n'.

In [226]:
def alternate_set_func(n):
    alternate_set = set()
    for i in range(n) :
        if i%2 == 0 :
            alternate_set.add(0)
            print(f"0s of length {i} even  :",alternate_set)
        else :
            alternate_set.add(1)
            print(f"1s of length {i} odd :",alternate_set)
    return alternate_set

length = 10
print("The length of alternating set :",length)

create_set = alternate_set_func(length)
print(f"Create a set of alternating 1s and 0s of length {length} :",create_set)

The length of alternating set : 10
0s of length 0 even  : {0}
1s of length 1 odd : {0, 1}
0s of length 2 even  : {0, 1}
1s of length 3 odd : {0, 1}
0s of length 4 even  : {0, 1}
1s of length 5 odd : {0, 1}
0s of length 6 even  : {0, 1}
1s of length 7 odd : {0, 1}
0s of length 8 even  : {0, 1}
1s of length 9 odd : {0, 1}
Create a set of alternating 1s and 0s of length 10 : {0, 1}

### 50.Merge multiple sets into one.

In [227]:
set1 = {1,2,3}
set2 = {4,5,6,7}
set3 = {8,9,10,11}
print("Set 1 :",set1)
print("Set 2 :",set2)
print("Set 3 :",set3)
merge_set = set1.union(set2,set3)
print("Merge multiple sets into one :",merge_set)

Set 1 : {1, 2, 3}
Set 2 : {4, 5, 6, 7}
Set 3 : {8, 9, 10, 11}
Merge multiple sets into one : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}